body {
    background-color: black;
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none; /* This removes the underline from links */
    display: inline-block; /* This ensures that the text-align property affects the links */
}

/* Optional: Add hover effect for links */
a:hover {
    color: gray; /* Changes the color of the link when hovered over */
}
.section-class {
    background-color: black;
    color: white;
    text-align: center;
}

.section-class a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.section-class a:hover {
    color: gray;
}
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
